
@-webkit-keyframes spinning {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  50% {
    transform: rotate(325deg);
    -webkit-transform: rotate(325deg);
  }
  100% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

@-webkit-keyframes translating {
  0% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  50% {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}

@-webkit-keyframes color-change {
	0%, 20%, 40%, 60%, 100% {
	    background-color: #fff;
	}
	10%, 30%, 50%, 70%, 90% {
	    background-color: #f00;
	}
}

* {
	margin: 1;
	padding: 0;
}

body {

	background-color: #f5f5f5;
}

h1{
  color: DarkCyan;
  position: relative;
  top: 20px;
  left: 30px;

}

p{
  line-height: 1.5em;
  font-family: Georgia, serif;
  position: relative;
  top: 20px;
  left: 30px;

}

#pig {
	position: relative;
  top: 30px;
  left: 150px;
	width: 10em;
	height: 12em;
}
#pig #head {
	width: 8em;
	height: 8em;
	background-color: #ffb3e6;
	border-radius: 5em 5em 5em 5em;
	z-index: 150;
	position: relative;
}

#pig #body {
	width: 6em;
	height: 10em;
	background-color: #ffb3e6;
	border-radius: 3em 3em 3em 3em;
	z-index: 100;
	position: relative;
  top: -5em;
  left: 1em;
}

#pig #feet::before {
	content: '';
	width: 1em;
	height: 2em;
	background-color: #ffb3e6;
	border-radius: 0 0 0.5em 0.5em;
	position: absolute;
	top: 12em;
  left: 2em;
}

#pig #feet::after {
	content: '';
	width: 1em;
	height: 2em;
	background-color: #ffb3e6;
	border-radius: 0 0 0.5em 0.5em;
	position: absolute;
	top: 12em;
	left: 5em;
}

#pig #eyes::before {
	content: '';
	width: 1.5em;
	height: 1.5em;
	background-color: #fff;
	border-radius: 1em;
	position: absolute;
	top: 2em;
	left: 1em;
}

#pig #eyes::after {
	content: '';
	width: 1.5em;
	height: 1.5em;
	background-color: #fff;
	border-radius: 1em;
	position: absolute;
	top: 2em;
	left: 4.5em;
}

#pig #pupils::before {
	content: '';
	width: 0.75em;
	height: 1.5em;
	background-color: #000;
	border-radius: 0 1em 1em 0;
	position: absolute;
	top: 2em;
	left: 5.25em;
}

#pig #pupils::after {
	content: '';
	width: 0.75em;
	height: 1.5em;
	background-color: #000;
	border-radius: 0 1em 1em 0;
	position: absolute;
	top: 2em;
	left: 1.75em;
}

#pig #nostrils::before {
	content: '';
	width: 0.3em;
	height: 0.3em;
	background-color: #000;
	border-radius: 1em;
	position: absolute;
	top: 3.5em;
	left: 3em;
}

#pig #nostrils::after {
	content: '';
	width: 0.3em;
	height: 0.3em;
	background-color: #000;
	border-radius: 1em;
	position: absolute;
	top: 3.5em;
	left: 3.75em;
}

#pig #nose::before {
	content: '';
	width: 1.35em;
	height: 1em;
	background-color: #ffe6f7;
	border-radius: 3em 3em 3em 3em;
	position: absolute;
	top: 3.25em;
	left: 2.85em;
}

#pig #mouth::before {
	content: '';
	width: 1.25em;
	height: 0.75em;
	background-color: #942e58;
	border-radius: 0 0 3em 3em;
	position: absolute;
	top: 4.5em;
	left: 2.85em;
}

#pig #tail::before {
	content: '';
	width: 2.25em;
	height: 2em;
	background-color: #ffb3e6;
	border-radius: 0 0 50% 0;
	position: absolute;
	top: 10em;
	left: 6em;
	z-index: 10;
}

#pig #tail::after {
	content: '';
	width: 2em;
	height: 1.75em;
	background-color: #f5f5f5;
	border-radius: 0 0 50% 0;
	position: absolute;
	top: 9.75em;
	left: 6em;
	z-index: 10;
}



#pig #arms::before {
	content: '';
	width: 2em;
	height: 1em;
	background-color: #ffb3e6;
	border-radius: 1em 0 0 1em;
	position: absolute;
	top: 7em;
	left: -1em;
	z-index: 10;
}

#pig #arms::after {
	content: '';
	width: 2em;
	height: 1em;
	background-color: #ffb3e6;
	border-radius: 0 1em 1em 0;
	position: absolute;
	top: 7em;
	left: 7em;
	z-index: 10;
}

#pig .ears::before {
  content: '';
  width: 2.5em;
  height: 2.5em;
  overflow: hidden;
    border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  -webkit-transform:rotate(0deg);
  background-color: #ff4dc4;
	z-index: 150;
	position: absolute;
	top: 0.15em;
	left: 0em;
}

#pig .ears::after {

  content: '';
  width: 2.5em;
  height: 2.5em;
  overflow: hidden;
    border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  -webkit-transform:rotate(30deg);
  background-color: #ff4dc4;
	z-index: 150;
	position: absolute;
	top: 0.15em;
	left: 6em;
}
